---
import Icon from './Icon.astro';
---
<!-- Assurez-vous d'inclure la bibliothèque Font Awesome dans votre projet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<section class="box skills">
    <div class="stack gap-2 lg:gap-4">
        <i class="fas fa-database" style="color: var(--accent-regular); font-size: 2.5rem;"></i>
        <h2>Data Analysis</h2>
        <p>Expert in extracting actionable insights from complex datasets to drive strategic decision-making.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <i class="fas fa-robot" style="color: var(--accent-regular); font-size: 2.5rem;"></i>
        <h2>Machine Learning</h2>
        <p>Proficient in developing and deploying machine learning models to solve real-world problems.</p>
    </div>
    <div class="stack gap-2 lg:gap-4">
        <i class="fas fa-chart-line" style="color: var(--accent-regular); font-size: 2.5rem;"></i>
        <h2>Reporting</h2>
        <p>Skilled in generating comprehensive reports to visualize data and communicate findings effectively.</p>
    </div>
</section>


<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
